.theme-blue {
  // 按钮
  .btn {
    margin-right: 10px;
    padding: 9px;
    color: white;
    cursor: pointer;
    background-color: #409eff;
    border: 1px solid #409eff;
    border-radius: 2px;
    opacity: 0.8;
  }
  .btn:hover {
    background-color: #409eff;
    opacity: 0.7;
  }

  // 菜单栏
  .sider-bar {
    background-color: rgba(64, 158, 255, 0.5);
  }

  // 进销存管理页
  .in-out-manage {
    section {
      background-color: #6baff3;
    }
    .sider-bar {
      div:hover {
        background-color: #409eff;
      }
    }
  }

  // 工资管理
  .salary {
    .add {
      background-color: #409eff;
    }
    .swiper-3d {
      background-color: rgba(64, 158, 255, 0.5);
    }
  }
  
  // 报表管理
  .report {
    .chart-bar {
      div {
        background-color: #409eff;
      }
    }
  }
}


  
  