

.btn {
  margin-right: 10px;
  padding: 9px;
  color: white;
  cursor: pointer;
  // background-color: #B39DDB;
  background-color: #7E57C2;
  border: 1px solid #B39DDB;
  border-radius: 2px;
  // border-color: rgb(194, 189, 189) #777 #777 rgb(194, 189, 189);
}
.btn:hover {
  background-color: #7E57C2;
  opacity: 0.7;
}

