.page {
  margin: 0 30px;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

// 进销存管理的页头
.manage-header {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  margin-bottom: 25px;
  font-size: 18px;
}

// 分页器
.pagination {
  text-align: center;
  margin-top: 20px;
}