.page {
  margin: 0 30px;
}

.pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

// 页头
.manage-header {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  margin: 25px 0;
  font-size: 18px;
}

// 分页器
.pagination {
  text-align: center;
  margin-top: 20px;
  opacity: 0.8;
}

.el-pagination {
  .el-pagination__total,
  .el-pagination__jump {
    color: black;
  }
  .btn-prev {
    border-radius: 3px 0 0 3px;
  }
  .btn-next {
    border-radius: 0 3px 3px 0;
  }
}

// 表格设置透明度
.el-table,
.ve-table {
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0 0 10px #888888;
}

.el-table,
.ve-table {
  
}